@import "../../Scss/Variables.scss";
.hero {
  padding-top: 158px;
  @include breakpoint-down(xl) {
    padding-top: 125px;
  }
  @include breakpoint-down(lg) {
    padding-top: 115px;
  }
  @include breakpoint-down(md) {
    padding-top: 100px;
  }
  @include breakpoint-down(sm) {
    padding-top: 90px;
  }
  .heromain {
    display: flex;
    align-items: center;
    text-align: start;
    @include breakpoint-down(sm) {
      flex-direction: column;
    }
    .hero-head {
      font-family: $Spartan-font;
      font-weight: $font-weight-700;
      font-size: 46px;
      line-height: 60px;
      color: $white-color;
      max-width: 550px;
      margin-bottom: 20px;
      @include breakpoint-down(xl) {
        font-size: 35px;
        line-height: 48px;
        margin-bottom: 15px;
      }
      @include breakpoint-down(lg) {
        font-size: 28px;
        line-height: 45px;
        margin-bottom: 12px;
      }
      @include breakpoint-down(md) {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 12px;
      }
      @include breakpoint-down(sm) {
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 12px;
      }
    }
    .hero-para {
      max-width: 538px;
      margin-bottom: 40px;
      @include breakpoint-down(xl) {
        margin-bottom: 25px;
      }
      @include breakpoint-down(lg) {
        margin-bottom: 22px;
      }
      @include breakpoint-down(md) {
        margin-bottom: 15px;
      }
      @include breakpoint-down(sm) {
        margin-bottom: 15px;
      }
    }
    .heroimage {
      margin-left: 128px;
      .hero-banner {
        max-width: 100%;
      }
      @include breakpoint-down(xl) {
        margin-left: 45px;
      }
      @include breakpoint-down(lg) {
        margin-left: 0;
      }
      @include breakpoint-down(md) {
        margin-left: 0;
      }
      @include breakpoint-down(sm) {
        margin-left: 0;
      }
    }
    .badges {
      margin-bottom: 20px;
      @include breakpoint-down(lg) {
        margin-bottom: 12px;
      }
      @include breakpoint-down(md) {
        margin-bottom: 15px;
      }
    }
    .hero-btn {
      background: transparent;
    }
  }
}
