@import "./Mixin.scss";
@import "./Font.scss";
$background-color: #000000;
$Montserrat-font: Montserrat;
$Spartan-font: Spartan;
$font-weight-700: 700;
$font-weight-400: 400;
$font-weight-600: 600;
$white-color: #ffffff;
$blue-color: #2952e3;
