@import "../Scss/Variables.scss";
.lookforward {
  padding-top: 105px;
  @include breakpoint-down(xl) {
    padding: 0;
  }
  @include breakpoint-down(lg) {
    padding-top: 25px;
  }
  @include breakpoint-down(md) {
    padding: 0;
  }
  @include breakpoint-down(sm) {
    padding-top: 105px;
  }
  .look-forward-main {
    background: #0f0e13;
    border-radius: 255px 255px 14px 255px;
    display: flex;
    align-items: center;
    text-align: initial;
    max-height: 510px;
    @include breakpoint-down(sm) {
      flex-direction: column-reverse;
      background: #000000;
    }
    .look-forward-content {
      margin-left: 162px;
      @include breakpoint-down(xl) {
        margin-left: 100px;
      }
      @include breakpoint-down(lg) {
        margin-left: 75px;
      }
      @include breakpoint-down(md) {
        margin-left: 50px;
      }
      @include breakpoint-down(sm) {
        margin-left: 0;
        text-align: center;
      }
      .look-forward-head {
        text-align: initial;
        margin-top: 15px;
        @include breakpoint-down(sm) {
          text-align: center;
        }
      }
      .lookforward-btn {
        margin-top: 36px;
        @include breakpoint-down(xl) {
          margin-top: 25px;
        }
        @include breakpoint-down(lg) {
          margin-top: 20px;
        }
        @include breakpoint-down(sm) {
          margin-top: 15px;
        }
      }
    }
  }
  .look-img {
    position: relative;
    left: 95px;
    bottom: 50px;
    @include breakpoint-down(xl) {
      left: 0;
      bottom: 0;
    }
    @include breakpoint-down(lg) {
      left: 0;
      bottom: 0;
    }
    @include breakpoint-down(md) {
      left: 0;
      bottom: 0;
    }
    @include breakpoint-down(sm) {
      left: 0;
      bottom: 0;
    }
    img.lab-image {
      border-radius: 255px 255px 0 0;
      max-width: 100%;

      @include breakpoint-down(md) {
        max-width: 100%;
        margin-bottom: 10px;
      }
      @include breakpoint-down(sm) {
        max-width: 100%;
        margin-bottom: 10px;
      }
    }
  }
  .look-forward-details {
    display: flex;
    padding-top: 174px;
    align-items: center;
    justify-content: center;
    @include breakpoint-down(xl) {
      padding-top: 75px;
    }
    @include breakpoint-down(lg) {
      padding-top: 75px;
    }
    @include breakpoint-down(md) {
      padding-top: 50px;
    }
    @include breakpoint-down(sm) {
      padding-top: 30px;
      flex-direction: column;
    }
    img.laptop-image {
      border-radius: 255px 255px 0 0;
      max-width: 100%;
      @include breakpoint-down(sm) {
        max-width: 100%;
        margin-bottom: 10px;
      }
    }
    .look-forward-description {
      margin-left: 77px;
      text-align: initial;
      @include breakpoint-down(xl) {
        margin-left: 65px;
      }
      @include breakpoint-down(lg) {
        margin-left: 30px;
      }
      @include breakpoint-down(md) {
        margin-left: 25px;
      }
      @include breakpoint-down(sm) {
        margin-left: 0;
      }
      .look-forward-head {
        text-align: initial;
        margin-top: 15px;
      }
      .look-forward-para {
        max-width: 556px;
        margin-top: 30px;
        @include breakpoint-down(xl) {
          margin-top: 15px;
        }
        @include breakpoint-down(lg) {
          margin-top: 15px;
        }
        @include breakpoint-down(md) {
          margin-top: 10px;
        }
        @include breakpoint-down(sm) {
          margin-top: 10px;
        }
      }
      .lookforward-btn {
        margin-top: 30px;
        @include breakpoint-down(xl) {
          margin-top: 20px;
        }
        @include breakpoint-down(lg) {
          margin-top: 20px;
        }
        @include breakpoint-down(sm) {
          margin-top: 15px;
        }
      }
    }
  }
}
